/* Base Styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url("../images/hotel2.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #D2B48C;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease-in-out;
}

.container {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px;
    animation: slideIn 1s ease-in-out;
}

.card {
    border: none;
}

.card-title {
    color: #D2B48C;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    animation: zoomIn 1s ease-in-out;
}

.form-group label {
    color: #D2B48C;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

.form-control::placeholder {
    color: #d1d1d1;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none;
}

.button.is-primary {
    background-color: #D2B48C;
    border-color: #D2B48C;
    font-size: 1.2em;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    animation: bounceIn 1s ease-in-out;
}

.button.is-primary:hover {
    background-color: #D2B48C;
    border-color: #D2B48C;
}

.notification.is-info {
    background-color: rgba(0, 123, 255, 0.5); /* Semi-transparent alert */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
